@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApplication1.Pages.Home.IndexModel


<dir><h1>Заполните все поля анкеты</h1></dir>

<form method="post" asp-controller="Home" asp-action="SaveData">
<h2>Личные данные</h2>

<label for="name">ФИО заполнителя(На родном языке):</label>
<p><input type="text" id="name" name="name"/></p>



<label for="secondName">Использовали ли вы когда-нибудь другие имена?<br> (Девичья фамилия, псевдоним, профессиональное имя)Укажите это имя.:</label>
<p><input type="text" id="secondName" name="secondName"/></p>
    

<div class="form-group">
    <label>Семейное положение:</label>
    <p><select name="marital_status">
        <option value=0>Женат/замужем</option>
        <option value=1>Гражданский брак</option>
        <option value=2>Холост</option>
        <option value=3>Вдовец/вдова</option>
        <option value=4>В разводе</option>
        <option value=5>Официально не живете вместе</option>
        <option value=6>Другое</option>
    </select></p>
</div>

    
<h2>Данные о рождении</h2>
    

<label for="year">Год рождения:</label>
<p><input type="number" id="year" name="year"/></p>
<label for="month">Месяц рождения:</label>
<p><input type="number" id="month" name="month"/></p>
<label for="day">День рождения:</label>
<p><input type="number" id="day" name="day"/></p>
        
<label for="birthSity">Город рождения:</label>
<p><input type="text" id="birthSity" name="birthSity"/></p>
        
<label for="birthCountry">Страна рождения:</label>
<p><input type="text" id="birthCountry" name="birthCountry"/></p>

    
<h2>Гражданство</h2>
    

<div>
    <label for="citizenship">Гражданство:</label>
    <p><input type="text" id="citizenship" name="citizenship"/></p>


    <div class="form-group">
        <input type="checkbox" id="hasOtherCitizenship" name="hasOtherCitizenship" value="true" onchange="toggleOtherCitizenshipFields()"/>
        <label for="hasOtherCitizenship">Имеете ли вы гражданство в другой стране?</label>
    </div>

    <div id="otherCitizenshipFields" style="display: none;">
        <div class="form-group">
            <input type="checkbox" id="hasOtherCountryPassport" name="hasOtherCountryPassport" value="true" onchange="toggleOtherCountryPassportField()"/>
            <label for="hasOtherCountryPassport">Имеете ли вы паспорт этой страны?</label>
        </div>

        <div id="otherCountryPassportField" style="display: none;">
            <div class="form-group">
                <label for="otherCountryPassportNumber">Номер паспорта данной страны:</label>
                <p><input type="text" id="otherCountryPassportNumber" name="otherCountryPassportNumber"/></p>
            </div>
        </div>
    </div>
</div>



<input type="checkbox" id="isPermanentResident" name="isPermanentResident" value="true" onchange="toggleResidenceCountryField()"/>
<label for="isPermanentResident">Являетесь ли вы постоянным жителем страны,<br/> отличающейся от той, которую вы указали в гражданстве?</label>

<div id="residenceCountryField" style="display: none;">
    <div class="form-group">
        <label for="residenceCountry">В какой стране вы проживаете?</label>
        <p><input type="text" id="residenceCountry" name="residenceCountry"/></p>
    </div>
</div>
    
    
<h2>Пребывание в Америке</h2>

<label>
    <div class="form-group">
        <input type="checkbox" name="visited_usa"> Были ли вы в США ранее?
    </div>
</label>
<div id="usa-fields" style="display:none;">
    <div class="form-group">
        <label> Национальный идентификационный номер:</label>
        <p><input type="text" name="national_id"></p>
               
                
        <label>Номер социального страхования:</label>
        <p><input type="text" name="social_security_number"></p>
                
        <label>Номер налогоплательщика:</label>
        <p> <input type="text" name="taxpayer_number"></p>
                    
    </div>
</div>

<h2>Информация о поездке</h2>

<label>Цель поездки в США.Выберите тип визы:</label>
<p><select id="visaType" name="visaType">
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
    <option value="E">E</option>
    <option value="F">F</option>
    <option value="G">G</option>
</select></p>

<div id="visaTypeB" style="display:none;">
    <label>Выберите вид визы:</label>
    <p><select name="visaTypeB">
        <option value="0">Бизнес или конференция</option>
        <option value="1">Туристическая или медицинская</option>
        <option value="2">Бизнес и туризм</option>
    </select></p>
</div>

<label>
    <input type="checkbox" name="travelPurposeCheckbox" id="travelPurposeCheckbox">
    Есть ли у вас цель поездки?
</label>
                
<div id="travelPurposeInput" style="display:none;">
    <p><input type="text" name="travelPurpose"></p>
</div>

<div><label for="arrivalDate">Приблизительная дата прилета:</label><br>
    <input type="text" id="arrivalDate" name="arrivalDate"><br>
                                     
    <label for="arrivalCity">Город аэропорта прилета:</label><br>
    <input type="text" id="arrivalCity" name="arrivalCity"><br>
                                     
    <label for="departureDate">Приблизительная дата вылета:</label><br>
    <input type="text" id="departureDate" name="departureDate"><br>
                                     
    <label for="departureCity">Город аэропорта вылета:</label><br>
    <input type="text" id="departureCity" name="departureCity"><br>
</div>

<label for="places">Места, которые вы хотите посетить (5-8 названий туристических мест) 
    *важно знать ответ для консула</label>

<div id="places-container">
    <div>
        <input type="text" name="place1" id="place1" required>
        <button type="button" class="add-btn">+</button>
    </div>
</div>
<label for="hotelAdress">Адрес, где вы остановитесь в США (адрес с индексом,
    номер телефона без пробелов предполагаемого отеля)</label><br>
<input type="text" id="hotelAdress" name="hotelAdress"><br>

<label>Кто платит за вашу поездку:</label>
<p><select id="payer" name="payer">
    <option value=0>сам</option>
    <option value=1>другой человек</option>
    <option value=2>нынешний работодатель</option>
    <option value=3>работодатель в США</option>
    <option value=4>другая компания или организация</option>
</select></p>

<h2>Спутники</h2>
<label><input type="checkbox" name="otherPeople" onchange="showPeopleFields()">
    Другие люди путешествуют с вами?</label>
    
<div id="people_fields" style="display:none">
    <label>
        <input type="checkbox" name="group">
        Вы путешествуете с организацией или группой?
    </label>
    
    <div id="peopleList">
        
        <label>Фамилия и имя:
            <input type="text" name="person_name[]">
        </label>
        <label>Отношение:
            <select name="person_relation[]">
                <option value="Родитель">Родитель</option>
                <option value="Ребенок">Ребенок</option>
                <option value="Супруг">Супруг</option>
                <option value="Другой родственник">Другой родственник</option>
                <option value="Друг">Друг</option>
                <option value="Деловой партнер">Деловой партнер</option>
            </select>
        </label>
        <button type="button" id="add_person" onclick="addPerson()">+</button>
    </div>
</div>

<h2>Информация о посещении США</h2>

<div class="form-group">
    <label for="us-visit">Были ли вы когда-нибудь в США?</label>
    <input type="checkbox" id="us-visit" name="us-visit" onchange="showUsLicenseFields()">
        
    <div id="us-license" style="display: none;">
        <label for="us-license-check">Получали ли вы права в США?</label>
        <input type="checkbox" id="us-license-check" name="us-license-check" onchange="showUsLicenseFields()">
    </div>
    <div id="us-license-fields" style="display: none;">
        <label for="license-number">Номер водительского удостоверения:</label>
        <p><input type="text" id="license-number" name="license-number"></p>
        <label for="license-state">Штат, где получали права:</label>
        <p><input type="text" id="license-state" name="license-state"></p>
    </div>
    
    <p><label for="visa-earlier">Выдавали ли вам визу в США ранее?</label>
        <input type="checkbox" id="visa-earlier" name="visa-earlier" onchange="showInfoOfVisaEarlier()"></p>
    
    <div id="visaIssuance" style="display: none">
        <label for="dateOfIssueOfTheVisa">Дата выдачи:</label>
        <p><input type="text" id="dateOfIssueOfTheVisa" name="dateOfIssueOfTheVisa"></p>
    
        <label for="visaNumber">Номер визы:</label>
        <p><input type="text" id="visaNumber" name="visaNumber"></p>
    </div>
    
    <p><label for="sameTypeVisa">Вы подаете информацию на тот же тип визы, что и раньше?</label>
            <input type="checkbox" id="sameTypeVisa" name="sameTypeVisa"></p>
    
    <p><label for="sameCountry">Подаете ли вы заявление в той же стране или местоположении, где была выдана вышеуказанная виза, и является ли эта страна или местоположение вашим основным местом жительства?</label>
        <input type="checkbox" id="sameCountry" name="sameCountry"></p>
    
    <p><label for="fingersPrints">Вы сдавали отпечатки пальцев?</label>
        <input type="checkbox" id="fingersPrints" name="fingersPrints"></p>
    
    <p><label for="cardLoss">Виза была потеряна или украдена?</label>
        <input type="checkbox" id="cardLoss" name="cardLoss"></p>
    
    
    <p><label for="cancellationVisa">Виза была аннулирована?</label>
        <input type="checkbox" id="cancellationVisa" name="cancellationVisa"></p>
    
    <div id = "checkGroup">
        <p><label for="visaRefusal">Отказывали ли вам в визе США или во въезде в страну?</label>
            <input type="checkbox" id="visaRefusal" name="visaRefusal" onchange="showReasonOfRefusal"></p>
    
    
        <p><div id="reasonOfRefusalVisa"style="display: none">
            <label for="reasonOfRefusal">Напишите в свободной форме, почему вам отказали в визе:</label>
            <p><input type="text" id="reasonOfRefusal" name="reasonOfRefusal"></p>
        </div></p>
    </div>
    
    
    <p><label for="immigrationAttempt">Была ли когда-либо от вашего имени послана петиция в иммиграционный отдел (пытались ли вы иммигрировать)?<br/>(ответ да - если вы выиграли Грин кард и заполняли заявление, или если у вас была виза и вы подавали документы в США, чтобы легализоваться)  </label>
        <input type="checkbox" id="immigrationAttempt" name="immigrationAttempt"></p>
    
</div>
<H2>Контактная информация</H2>

<h3>Домашний адрес (прописка)</h3>

<label for="homeStreet">Улица, дом, квартира:</label>
<p><input type="text" id="homeStreet" name="homeStreet"></p>

<label for="homeCity">Город</label>
<p><input type="text" id="homeCity" name="homeCity"></p>

<label for="homeRegion">Регион</label>
<p><input type="text" id="homeRegion" name="homeRegion"></p>

<label for="homeIndex">Индекс</label>
<p><input type="text" id="homeIndex" name="homeIndex"></p>

<label for="homeCountry">Страна</label>
<p><input type="text" id="homeCountry" name="homeCountry"></p>

<div id = "checkGroup">
    <p><label for="addressMatch">Почтовый адрес совпадает с адресом проживания?</label>
        <input type="checkbox" id="addressMatch" name="addressMatch" onchange="showReasonOfRefusal"></p>
    
    <div id="realAdress" style="display: none">
        
        <label for="realStreet">Улица, дом, квартира:</label>
        <p><input type="text" id="realStreet" name="realStreet"></p>
       
        <label for="realCity">Город</label>
        <p><input type="text" id="realCity" name="realCity"></p>
       
        <label for="realRegion">Регион</label>
        <p><input type="text" id="realRegion" name="realRegion"></p>
       
        <label for="realIndex">Индекс</label>
        <p><input type="text" id="realIndex" name="realIndex"></p>
       
        <label for="realCountry">Страна</label>
        <p><input type="text" id="realCountry" name="realCountry"></p>
        
    </div>
</div>

<label for="contactNumber">Контактный телефон (сотовый):</label>
<p><input type="text" id="contactNumber" name="contactNumber"></p>

<label for="additionalNumber">Дополнительный телефон (по желанию)</label>
<p><input type="text" id="additionalNumber" name="additionalNumber"></p>

<label for="jobNumber">Рабочий телефон (по желанию)</label>
<p><input type="text" id="jobNumber" name="jobNumber"></p>

<div id = "checkGroupAdd">
    <p><label for="otherNumbers">Вы использовали какие-нибудь другие номера за последние пять лет?</label>
        <input type="checkbox" id="otherNumbers" name="otherNumbers" onchange="showReasonOfRefusal"></p>
    
    <p><div id="otherNumber"style="display: none">
        <p><input type="text" id="otherNumber" name="otherNumber"></p>
        
        <button type="button" id="addNumber" onclick="addOtherNumber()">+</button>
    </div></p>
</div>

<label for="email">Email адрес:</label>
<p><input type="text" id="email" name="email"></p>

<div id = "checkGroupAdd">
    <p><label for="otherEmails">Вы использовали какие-нибудь другие Email адреса за последние пять лет?</label>
        <input type="checkbox" id="visaRefusal" name="visaRefusal" onchange="showReasonOfRefusal"></p>
    
    <p><div id="otherEmail"style="display: none">
        <label for="otherEmail">Укажите их</label>
        <p><input type="text" id="otherEmail" name="otherEmail"></p>
        
        <button type="button" id="addEmail" onclick="addOtherEmail()">+</button>
    </div></p>
</div>

<p><div>
    <label for="accounts">Укажите ссылки на ваши аккаунты во всех социальных сетях, где вы зарегистрированы:</label>
    <p><input type="text" id="accounts" name="accounts"></p>
        
    <button type="button" id="addAccount" onclick="addAccount()">+</button>
</div></p>

<div id = "checkGroup">
    <p><label for="otherInfo">Хотите ли вы предоставить дополнительную информацию, где вы зарегистрированы,
            где присутствует ваши данные, фото, видео и любой другой контент, который вы создавали?</label>
        <input type="checkbox" id="otherInfo" name="otherInfo" onchange="showOtherSocial"></p>
    
    <p><div id="otherSocial"style="display: none">
        <label for="otherSocial">Ссылка на социальную сеть:</label>
        <p><input type="text" id="otherSocial" name="otherSocial"></p>
        <button type="button" id="addOtherSocial" onclick="addOtherSocial()">+</button>
    
        <label for="otherAccount">Ссылка на аккаунт:</label>
        <p><input type="text" id="otherAccount" name="otherAccount"></p>
    </div></p>
</div>


<H2>Информация о паспорте</H2>

<label>Тип вашего паспорта:
    <select name="pasportType[]">
        <option value="0">обычный</option>
        <option value="1">официальный</option>
        <option value="2">дипломатический</option>
    </select>
</label>

<label for="passportNumber">Серия и номер слитно, без пробелов</label>
<p><input type="text" id="passportNumber" name="passportNumber"></p>

<label for="passportCountry">Страна выдачи паспорта:</label>
<p><input type="text" id="passportCountry" name="passportCountry"></p>

<label for="passportRegion">Регион выдачи паспорта:</label>
<p><input type="text" id="passportRegion" name="passportRegion"></p>

<label for="passportCity">Город выдачи паспорта:</label>
<p><input type="text" id="passportCity" name="passportCity"></p>

<label for="passportStartDate">Дата выдачи паспорта:</label>
<p><input type="text" id="passportStartDate" name="passportStartDate"></p>

<label for="passportEndDate">Дата окончания действия паспорта:</label>
<p><input type="text" id="passportEndDate" name="passportEndDate"></p>

<p><label for="passportLoss">Теряли ли вы паспорт или крали у вас паспорт ранее?</label>
    <input type="checkbox" id="passportLoss" name="passportLoss"></p>

<H2>Информация о приглашающей стороне</H2>

<div id = "checkGroup">
    <p><label for="invite">Если вы летите по приглашению человека?</label>
        <input type="checkbox" id="invite" name="invite" onchange="showInviter"></p>
    
    <p><div id="inviter"style="display: none">
        <label for="inviterSurname">Его фамилия:</label>
        <p><input type="text" id="inviterSurname" name="inviterSurname"></p>
    
        <label for="inviterName">Его имя:</label>
        <p><input type="text" id="inviterName" name="inviterName"></p>
    </div></p>
</div>

<label for="receivingCompany">Название принимающей организации или отеля: (ответ обязателен)</label>
<p><input type="text" id="receivingCompany" name="receivingCompany"></p>

<label>Отношение к вам(Если это отель - вариант "другие"): 
    <select name="personRelation[]">
        <option value="0">родственник</option>
        <option value="1">супруг</option>
        <option value="2">друг</option>
        <option value="3">деловой партнер</option>
        <option value="0">работодатель</option>
        <option value="1">обучение</option>
        <option value="2">другое</option>
    </select>
</label>

<h3>Адрес отеля или организации:</h3>

<label for="hotelStreet">Номер дома и улица:</label>
<p><input type="text" id="hotelStreet" name="hotelStreet"></p>

<label for="hotelCity">Город</label>
<p><input type="text" id="hotelCity" name="hotelCity"></p>

<label for="hotelState">Штат:</label>
<p><input type="text" id="hotelState" name="hotelState"></p>

<label for="hotelIndex">Индекс:</label>
<p><input type="text" id="hotelIndex" name="hotelIndex"></p>

<label for="hotelNumber">Номер телефона:</label>
<p><input type="text" id="hotelNumber" name="hotelNumber"></p>

<label for="hotelEmail">Email-адрес, если известен</label>
<p><input type="text" id="hotelEmail" name="hotelEmail"></p>

<H2>Информация о членах семьи</H2>

<h3>Указываем данные родителей, даже если уже кого-то нет живых. 
    Если вы не знакомы с родителем - напишите это в строке фамилия</h3>

<label for="fatherSurname">Фамилия отца:</label>
<p><input type="text" id="fatherSurname" name="fatherSurname"></p>

<label for="fatherName">Имя отца:</label>
<p><input type="text" id="fatherName" name="fatherName"></p>

<label for="fatherBirthDate">Дата рождения отца:</label>
<p><input type="text" id="fatherBirthDate" name="fatherBirthDate"></p>

<div id = "checkGroupSelect">
    <p><label for="fahterIsCitizenUSA">Является ли ваш отец гражданином США или находится там?</label>
        <input type="checkbox" id="fahterIsCitizenUSA" name="fahterIsCitizenUSA" onchange="showFatherSitizenUSA()"></p>
    <div id ='fatherSitizenUSA' style="display: none">
        <select name="fatherIs[]">
            <option value="0">Гражданин США</option>
            <option value="1">Имеет вид на жительство</option>
            <option value="2">неиммиграционный статус</option>
            <option value="3">другое</option>
        </select>
    </div>
    
</div>    

<label for="motherSurname">Фамилия матери:</label>
<p><input type="text" id="motherSurname" name="motherSurname"></p>

<label for="motherName">Имя матери:</label>
<p><input type="text" id="motherName" name="motherName"></p>

<label for="motherBirthDate">Дата рождения матери:</label>
<p><input type="text" id="motherBirthDate" name="motherBirthDate"></p>

<div id = "checkGroupSelect">
    <p><label for="motherIsSitizenUSA">Является ли ваша мать гражданином США или находится там?</label>
        <input type="checkbox" id="motherIsSitizenUSA" name="motherIsSitizenUSA" onchange="showMotherSitizenUSA()"></p>
    
    <div id ='motherSitizenUSA' style="display: none">
        <select name="motherIs[]">
            <option value="0">Гражданин США</option>
            <option value="1">Имеет вид на жительство</option>
            <option value="2">неиммиграционный статус</option>
            <option value="3">другое</option>
        </select>
    </div>
    
</div>    

<H2>Супруг</H2>

<label for="spouseSurname">Фамилия супруга:</label>
<p><input type="text" id="spouseSurname" name="spouseSurname"></p>

<label for="spouseName">Имя супруги:</label>
<p><input type="text" id="spouseName" name="spouseName"></p>

<label for="spouseBirthDate">Дата рождения:</label>
<p><input type="text" id="spouseBirthDate" name="spouseBirthDate"></p>

<label for="spouseNation">Страна рождения (национальность): </label>
<p><input type="text" id="spouseNation" name="spouseNation"></p>

<label for="spouseBirthCity">Город рождения:</label>
<p><input type="text" id="spouseBirthCity" name="spouseBirthCity"></p>

<label>Адрес супруга:
    <select name="spouseAdress[]">
        <option value="0">другое</option>
        <option value="1">неизвестен</option>
        <option value="2">как адрес кортакта в США</option>
        <option value="3">как ваш почтовый</option>
        <option value="4">как ваш домашний</option>
    </select>
</label>

<H2>Информация о работе и учебе</H2>

<div id="job">
    <label>Сфера деятельности(выберите вариант):
        <select name="activityField[]">
            <option value="0">другое</option>
            <option value="1">студент</option>
            <option value="2">социальная сфера</option>
            <option value="3">пенсионер</option>
            <option value="4">научный сотрудник</option>
            <option value="5">религиозная дейтельность</option>
            <option value="6">спорт</option>
            <option value="7">безработный</option>
            <option value="8">естественные науки</option>
            <option value="9">воинская служба</option>
            <option value="10">здравоохранение</option>
            <option value="11">юрист</option>
            <option value="12">работа на дому</option>
            <option value="13">госслужба</option>
            <option value="14">инженерия</option>
            <option value="15">образование</option>
            <option value="16">сфера общепита</option>
            <option value="17">IT сфера</option>
            <option value="18">коммуникации</option>
            <option value="19">бизнес</option>
            <option value="20">какой-то другой исполнитель</option>
            <option value="21">артист</option>
            <option value="22">сельское хозяйство</option>
        </select>
    </label>

    <label for="organisationName">Название организации:</label>
    <p><input type="text" id="organisationName" name="organisationName"></p>

    <h3>Адрес:</h3>

    <label for="organisationStreet">Улица, дом, строение и тд:</label>
    <p><input type="text" id="organizationStreet" name="organizationStreet"></p>

    <label for="organisationCity">Город:</label>
    <p><input type="text" id="organizationCity" name="organizationCity"></p>

    <label for="organisationRegion">Регион:</label>
    <p><input type="text" id="organizationRegion" name="organizationRegion"></p>

    <label for="organisationIndex">Индекс:</label>
    <p><input type="text" id="organizationIndex" name="organizationIndex"></p>

    <label for="organisationCountry">Страна:</label>
    <p><input type="text" id="visaNumber" name="visaNumber"></p>

    <label for="organisationNumber">Рабочий телефон:</label>
    <p><input type="text" id="organisationNumber" name="organisationNumber"></p>

    <label for="jobStartDate">Дата начала работы:</label>
    <p><input type="text" id="jobStartDate" name="jobStartDate"></p>

    <label for="jobIncome">Ежемесячный доход в местной валюте:</label>
    <p><input type="text" id="jobIncome" name="jobIncome"></p>

    <label for="jobPost">Занимаемая должность (в свободной форме):</label>
    <p><input type="text" id="jobPost" name="jobPost"></p>

    Места работы за последние 5 лет (где работали за 5 лет и уже уволились)
    <button type="button" id="addJob" onclick="addOtherJob()">+</button>
</div>

<div id="study">
    
    <p><label for="haveEdication">Получали ли вы образование выше среднего (выше 9 классов)?</label>
        <input type="checkbox" id="haveEdication" name="haveEdication" onchange="showStudyEdication()"></p>
    
    <div id="studyEdication" style="display: none">
        
        <label for="jobPost">Название организации:</label>
        <p><input type="text" id="jobPost" name="jobPost"></p>

        <label for="jobPost">Улица, дом, строение:</label>
        <p><input type="text" id="jobPost" name="jobPost"></p>

        <label for="jobPost">Город:</label>
        <p><input type="text" id="jobPost" name="jobPost"></p>

        <label for="jobPost">Регион:</label>
        <p><input type="text" id="jobPost" name="jobPost"></p>

        <label for="jobPost">Индекс:</label>
        <p><input type="text" id="jobPost" name="jobPost"></p>

        <label for="jobPost">Страна:</label>
        <p><input type="text" id="jobPost" name="jobPost"></p>

        <label for="jobPost">Направление или специальность:</label>
        <p><input type="text" id="jobPost" name="jobPost"></p>

        <label for="jobPost">Дата начала учебы:</label>
        <p><input type="text" id="jobPost" name="jobPost"></p>

        <label for="jobPost">Дата окончания учебы:</label>
        <p><input type="text" id="jobPost" name="jobPost"></p>

    </div>
    <button type="button" id="addStudy" onclick="addOtherStudy()">+</button>
    
</div>
ТУТ ДОДЕЛАТИ

<H2>Дополнительная информация о подготовке</H2>

<label for="haveLanguage">Какими языками вы владеете:</label>
<p><input type="text" id="haveLanguage" name="haveLanguage"></p>
<button type="button" id="addLanguage" onclick="addLanguage()">+</button>

<label for="reasonOfRefusal">Перечислите все страны, которые вы посещали за последние пять лет:</label>
<p><input type="text" id="reasonOfRefusal" name="reasonOfRefusal"></p>
<button type="button" id="add_person" onclick="addPerson()">+</button>

<label for="reasonOfRefusal">Принадлежали ли вы к какой-либо профессиональной, социальной или благотворительной организации,
    вносили ли в нее свой вклад или работали в ней? Напишите название</label>
<p><input type="text" id="reasonOfRefusal" name="reasonOfRefusal"></p>

<p><label for="visaRefusal">Есть ли у вас какие-либо специальные навыки или подготовка, такие как огнестрельное оружие,
        взрывчатые вещества, ядерный, биологический или химический опыт?</label>
    <input type="checkbox" id="visaRefusal" name="visaRefusal" onchange="showReasonOfRefusal"></p>

<div id = "checkGroup">
    <p><label for="army">Служили в армии?</label>
        <input type="checkbox" id="army" name="army" onchange="showReasonOfRefusal"></p>
    
    <p><div id="army"style="display: none">
        <label for="armyCountry">Страна:</label>
        <p><input type="text" id="armyCountry" name="armyCountry"></p>
        
        <label for="armyDivision">Подразделение:</label>
        <p><input type="text" id="armyDivision" name="armyDivision"></p>
        
        <label for="armyRang">Ранг::</label>
        <p><input type="text" id="armyRang" name="armyRang"></p>
    
        <label for="armySpecialty">Специальность:</label>
        <p><input type="text" id="armySpecialty" name="armySpecialty"></p>
    
        <label for="armyStartDate">Дата начала службы:</label>
        <p><input type="text" id="armyStartDate" name="armyStartDate"></p>
    
        <label for="armyEndDate">Дата окончания службы:</label>
        <p><input type="text" id="armyEndDate" name="armyEndDate"></p>
    </div></p>
</div>  

<p><label for="specGroup">Вы когда-либо служили, были членом или были связаны с военизированным подразделением,
        отрядом бдительности, повстанческой группой, партизанской группой или повстанческой организацией?</label>
    <input type="checkbox" id="specGroup" name="specGroup" onchange="showReasonOfRefusal"></p>

        


<button type="submit">Start</button>
</form>


<script>

    //*****************************функции, отвечающие за появление полей при чекбоксах********************************
    function toggleOtherCitizenshipFields() {
        var otherCitizenshipFields = document.getElementById("otherCitizenshipFields");
        if (document.getElementById("hasOtherCitizenship").checked) {
            otherCitizenshipFields.style.display = "block";
        } else {
            otherCitizenshipFields.style.display = "none";
            document.getElementById("hasOtherCountryPassport").checked = false;
            toggleOtherCountryPassportField();
        }
    }

    function toggleOtherCountryPassportField() {
        var otherCountryPassportField = document.getElementById("otherCountryPassportField");
        if (document.getElementById("hasOtherCountryPassport").checked) {
            otherCountryPassportField.style.display = "block";
        } else {
            otherCountryPassportField.style.display = "none";
            document.getElementById("otherCountryPassportNumber").value = "";
        }
    }

    function toggleResidenceCountryField() {
        var residenceCountryField = document.getElementById("residenceCountryField");
        if (document.getElementById("isPermanentResident").checked) {
            residenceCountryField.style.display = "block";
        }else{
            residenceCountryField.style.display = "none";
            document.getElementById("residenceCountryField").value = "";
        }
    }
    //*********************************************************************************************************
    
    //********************Далее идет появление пунктов о пребывании в Америке**********************************
    var visitedCheckbox = document.querySelector('input[name="visited_usa"]');
      var usaFieldsDiv = document.querySelector('#usa-fields');
      visitedCheckbox.addEventListener('change', function() {
        if (this.checked) {
          usaFieldsDiv.style.display = 'block';
        } else {
          usaFieldsDiv.style.display = 'none';
        }
      });
    //*********************************************************************************************************
    
    //****************Доделать выпадающие спискию Внизу часть с информацией о поездке**************************
    var visaType = document.getElementById("visaType");
        var visaTypeB = document.getElementById("visaTypeB");
    
        visaType.addEventListener("change", function() {
            if (visaType.value == "B") {
                visaTypeB.style.display = "block";
            } else {
                visaTypeB.style.display = "none";
            }
        });
        var travelPurposeCheckbox = document.getElementById("travelPurposeCheckbox");
        var travelPurposeInput = document.getElementById("travelPurposeInput");
        
        travelPurposeCheckbox.addEventListener("change", function() {
          if (travelPurposeCheckbox.checked) {
            travelPurposeInput.style.display = "block";
          } else {
            travelPurposeInput.style.display = "none";
          }
        });
    //*********************************************************************************************************
    
    //********************************Места, которые надо посетить*********************************************
    const placesContainer = document.querySelector("#places-container");
      const addBtns = document.querySelectorAll(".add-btn");
      
      let count = 1;
      
      addBtns.forEach((btn) => {
        btn.addEventListener("click", () => {
          count++;
          const newPlace = document.createElement("div");
          newPlace.innerHTML = `
            <input type="text" name="place${count}" id="place${count}" required>
            <button type="button" class="remove-btn">-</button>
          `;
          placesContainer.appendChild(newPlace);
          
          const removeBtn = newPlace.querySelector(".remove-btn");
          removeBtn.addEventListener("click", () => {
            newPlace.remove();
            count--;
          });
        });
      });
    //спутники
    function showPeopleFields() {
      var fields = document.getElementById("people_fields");
      if (document.getElementsByName("other_people")[0].checked) {
        fields.style.display = "block";
      } else {
        fields.style.display = "none";
      }
    }
    
    function addPerson() {
      var list = document.getElementById("people_list");
      var newPerson = document.createElement("div");
      newPerson.classList.add("person");
    
      var nameField = document.createElement("label");
      nameField.innerHTML = "Фамилия и имя: <input type='text' name='person_name[]'>";
    
      var relationField = document.createElement("label");
      relationField.innerHTML = "Отношение: <select name='person_relation[]'><option value='Родитель'>Родитель</option><option value='Ребенок'>Ребенок</option><option value='Супруг'>Супруг</option><option value='Другой родственник'>Другой родственник</option><option value='Друг'>Друг</option><option value='Деловой партнер'>Деловой партнер</option></select>";
    
      var removeButton = document.createElement("button");
      removeButton.setAttribute("type", "button");
      removeButton.classList.add("remove_person");
      removeButton.innerHTML = "-";
    
      removeButton.onclick = function() {removePerson(this)};
    
      newPerson.appendChild(nameField);
      newPerson.appendChild(relationField);
      newPerson.appendChild(removeButton);
    
      list.appendChild(newPerson);
    }
    
    function removePerson(button) {
      var person = button.parentNode;
      var list = person.parentNode;
      list.removeChild(person);
    }
    //Информация о посещении США
    function showUsLicenseFields() {
        var usVisit = document.getElementById("us-visit");
        var usLicense = document.getElementById("us-license");
        var usLicenseCheck = document.getElementById("us-license-check");
        var usLicenseFields = document.getElementById("us-license-fields");
    
        if (usVisit.checked) {
          usLicense.style.display = "block";
        } else {
          usLicense.style.display = "none";
          usLicenseFields.style.display = "none";
          usLicenseCheck.checked = false;
        }
    
        if (usLicenseCheck.checked) {
          usLicenseFields.style.display = "block";
        } else {
          usLicenseFields.style.display = "none";
        }
      }
    </script>