@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApplication1.Pages.Home.IndexModel


<dir><h1>Заполните все поля анкеты</h1></dir>

<h2>Личные данные</h2>

<form method="Post" asp-controller="Home" asp-action="DownloadFile">
    <div style="display: flex; flex-wrap: wrap;">
        <div><label for="full_name">Фамилия Имя Отчество:</label><br/>
            <input type="text" id="full_name" name="full_name" style="margin-right: 10px;"></div>
        
        <div><label>Семейное положение:</label><br/>
            <p><select name="myData.marital_status" >
                <option value=0>Женат/замужем</option>
                <option value=1>Гражданский брак</option>
                <option value=2>Холост</option>
                <option value=3>Вдовец/вдова</option>
                <option value=4>В разводе</option>
                <option value=5>Официально не живете вместе</option>
                <option value=6>Другое</option>
            </select></p></div>
        <div><label for="secondName">Девичья фамилия, псевдоним, профессиональное имя:</label><br/>
            <input type="text" id="secondName" name="myData.second_name" style="margin-left: 10px;"/></div>
    </div>
    <div style="display: flex; flex-wrap: wrap;">
        <div><label for="birthDate">Дата рождения:</label><br/>
            <input type="date" id="birthDate" name="myData.birth_date" style="margin-right: 10px;"></div>
        <div><label for="birhtCoutry">Страна рождения:</label><br/>
            <input type="text" id="birhtCoutry" name="myData.birth_country" style="margin-right: 10px;"></div>
        <div><label for="birthCity">Город рождения:</label><br/>
            <input type="test" id="birthCity" name="myData.birth_sity" style="margin-right: 10px;"></div>
    </div>
   

 



    <h2>Гражданство</h2>
    <div>
        <label for="citizenship">Гражданство:</label>
        <p><input type="text" id="citizenship" name="myData.sitizenship.sitizenship"/></p>


        <div>
            <input type="checkbox" id="hasOtherCitizenship" name="myData.sitizenship.second_sitizenship"  onchange="showBlock(otherCitizenshipFields,id)"/>
            <label for="hasOtherCitizenship">Имеете ли вы гражданство в другой стране?</label>
        </div>

        <div id="otherCitizenshipFields" style="display: none;">
            <div class="form-group">
                <input type="checkbox" id="hasOtherCountryPassport" name="myData.sitizenship.second_passport_availability"  onchange="showBlock(otherCountryPassportField,id)"/>
                <label for="hasOtherCountryPassport">Имеете ли вы паспорт этой страны?</label>
            </div>

            <div id="otherCountryPassportField" style="display: none;">
                <div class="form-group">
                    <label for="otherCountryPassportNumber">Номер паспорта данной страны:</label>
                    <p><input type="text" id="otherCountryPassportNumber" name="myData.sitizenship.number_second_passport"/></p>
                </div>
            </div>
        </div>
        <input type="checkbox" id="isPermanentResident" name="myData.sitizenship.permanent_resident"  onchange="showBlock(residenceCountryField,id)"/>
        <label for="isPermanentResident">Являетесь ли вы постоянным жителем страны,<br/> отличающейся от той, которую вы указали в гражданстве?</label>
    
        <div id="residenceCountryField" style="display: none;">
            <div class="form-group">
                <label for="residenceCountry">В какой стране вы проживаете?</label>
                <p><input type="text" id="residenceCountry" name="myData.sitizenship.second_country"/></p>
            </div>
        </div>
    
    </div>



    <h2>Пребывание в Америке</h2>

    <label>
        <div class="form-group">
            <input type="checkbox" id="visitedUsa" name="visitedUsa"  onchange="showBlock(usaFields,id)"> Были ли вы в США ранее?
        </div>
    </label>
    <div id="usaFields" style="display:none;">
        <div class="form-group" style="display: flex; flex-wrap: wrap;">
            <div><label style="margin-right: 10px;"> Национальный <br/>идентификационный номер:</label><br/>
                <input type="text" id ="nationalId" name="myData.stay_in_usa.national_identification_number"style="margin-right: 10px;"></div>
               
                
            <div><label style="margin-right: 10px;">Номер социального <br/> страхования:</label><br/>
                <input type="text" id="socialSecurityNumber" name="myData.stay_in_usa.social_security_number"style="margin-right: 10px;"></div>
                
            <div><label style="margin-right: 10px;">Номер <br/> налогоплательщика:</label><br/>
                <input type="text" id="taxpayerNumber" name="myData.stay_in_usa.taxpayer_number"style="margin-right: 10px;"></div>
                    
        </div>
      
    </div>



    



    <h2>Информация о поездке</h2>

    <div style="display: flex;flex-wrap: wrap;"><div style="margin-right: 50px"><label style="margin-right: 10px">Цель поездки в США.<br/>Выберите тип визы:</label>
            <select  id="visaType" name="myData.info_about_travel.visa_char" onchange="showOneOfUs(id)">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="G">G</option>
            </select></div>

        <div id="visaTypeB" style="display:none;">
            <label>Выберите вид визы:</label>
            <p><select name="myData.info_about_travel.visa_type">
                <option value="0">Бизнес или конференция</option>
                <option value="1">Туристическая или медицинская</option>
                <option value="2">Бизнес и туризм</option>
            </select></p>
        </div>
    </div>
    <label>
        <input type="checkbox" name="travelPurposeCheckbox" id="travelPurposeCheckbox" onchange="showBlock(travelPurposeInput,id)">
        Есть ли у вас цель поездки?
    </label>
                
    <div id="travelPurposeInput" style="display:none;">
        <p><input type="text" name="myData.info_about_travel.travel_goal"></p>
    </div>

    <div style="display: flex;flex-wrap: wrap;">
        <div style="margin-right: 10px"><label for="arrivalDate">Приблизительная дата прилета:</label><br>
            <input style="margin-left: 50px" type="date" id="arrivalDate" name="myData.info_about_travel.arrival_date"></div>
                                     
        <div style="margin-right: 10px"><label for="arrivalCity">Город аэропорта прилета:</label><br>
            <input type="text" id="arrivalCity" name="myData.info_about_travel.arrival_city"></div>
                                     
        <div style="margin-right: 10px"> <label for="departureDate">Приблизительная дата вылета:</label><br>
            <input style="margin-left: 50px" type="date" id="departureDate" name="myData.info_about_travel.departure_date"></div>
                                     
        <div style="margin-right: 10px"> <label for="departureCity">Город аэропорта вылета:</label><br>
            <input type="text" id="departureCity" name="myData.info_about_travel.departure_city"></div>
    </div>

    <label for="places">Места, которые вы хотите посетить (5-8 названий туристических мест) 
        *важно знать ответ для консула</label>

    <div style ="display:flex;flex-wrap: wrap;" id="placesСontainer">
        <div style="margin-right: 10px;margin-bottom: 10px">
            <input type="text" name="myData.info_about_travel.travel_places" id="place" required>
            <button type="button" class="add-btn" onclick="addField('place','placesСontainer')">+</button>
        </div>
    </div>
    <label for="hotelAdress">Адрес, где вы остановитесь в США (адрес с индексом,
        номер телефона без пробелов предполагаемого отеля)</label><br>
<div style="margin-right: 50px">
       
        <label for="hotelStreet">Улица, дом, квартира:</label>
        <p><input type="text" id="hotelStreet" name="myData.info_about_travel.stop_address.street"></p>

        <label for="hotelCity">Город:</label>
        <p><input type="text" id="hotelCity" name="myData.info_about_travel.stop_address.city"></p>

        <label for="hotelRegion">Регион:</label>
        <p><input type="text" id="hotelRegion" name="myData.info_about_travel.stop_address.region"></p>

        <label for="hotelIndex">Индекс:</label>
        <p><input type="text" id="hotelIndex" name="myData.info_about_travel.stop_address.index"></p>

        <label for="hotelCountry">Страна:</label>
    <p><input type="text" id="hotelCountry" name="myData.info_about_travel.stop_address.country"></p>
        
        <label for="hotelCountry">Номер телефона:</label>
            <p><input type="text" id="hotelCountry" name="myData.info_about_travel.hotel_number"></p>
</div>
    

    <label>Кто платит за вашу поездку:</label>
    <p><select id="payer" name="myData.info_about_travel.payer">
        <option value=0>сам</option>
        <option value=1>другой человек</option>
        <option value=2>нынешний работодатель</option>
        <option value=3>работодатель в США</option>
        <option value=4>другая компания или организация</option>
    </select></p>

    <h2>Спутники</h2>
    <label><input type="checkbox" id="companion" name="companion" onchange="showBlock(peopleFields,id)">
        Другие люди путешествуют с вами?</label>
    
    <div id="peopleFields" style="display:none">
        <label>
            <input type="checkbox" onchange="emptyCheckBox(id)" name="myData.info_about_travel.have_group">
            Вы путешествуете с организацией или группой?
        </label>
    
        <div style ="display:flex;flex-wrap: wrap;" id="peopleContainer">
             <div style="margin-right: 20px" id="peopleList" nsme="myData.companions[0]">
                <label>Фамилия и имя:</label><br/>
                <input type="text" name="myData.companions[0].name"><br/>
                <label>Отношение:</label><br/>
                <select name="myData.companions[0].status">
                    <option value=0>Родитель</option>
                    <option value=1>Ребенок</option>
                    <option value=2>Супруг</option>
                    <option value=3>Другой родственник</option>
                    <option value=4>Друг</option>
                    <option value=5>Деловой партнер</option>
                </select>
                <button type="button" id="add_person" onclick="cloneElement('peopleList', 'peopleContainer')">+</button>
            </div>
        </div>
    
    
    </div>
  

<h2>Информация о посещении США</h2>

<div class="form-group">
    <label for="us-visit">Были ли вы когда-нибудь в США?</label>
    <input type="checkbox" id="have_been_to_USA" name="myData.have_been_to_USA"  onchange="showBlock(driver_docBlock,id)">
        
    <div id="driver_docBlock" style="display: none;">
        <label for="us-license-check">Получали ли вы права в США?</label>
        <input type="checkbox" id="us-license-check" name="myData.have_driver_doc"  onchange="showBlock(numberDocBlock,id)">
    </div>
    <div id="numberDocBlock" style="display: none;">
        <label for="license-number">Номер водительского удостоверения:</label>
        <p><input type="text" id="license-number" name="myData.driver_doc_number"></p>
        <label for="license-state">Штат, где получали права:</label>
        <p><input type="text" id="license-state" name="myData.driver_doc_state"></p>
    </div>
    
    <p><label for="visa-earlier">Выдавали ли вам визу в США ранее?</label>
        <input type="checkbox" id="visa-earlier" name="myData.have_visa_before" onchange="showBlock(visaIssuance,id)"></p>
    
    <div id="visaIssuance" style="display: none">
        <label for="dateOfIssueOfTheVisa">Дата выдачи:</label>
        <p><input type="date" id="dateOfIssueOfTheVisa" name="myData.date_issue_visa"></p>
    
        <label for="visaNumber">Номер визы:</label>
        <p><input type="text" id="visaNumber" name="myData.visa_number"></p>
    </div>
    
    <p><label for="sameTypeVisa">Вы подаете информацию на тот же тип визы, что и раньше?</label>
        <input type="checkbox" id="sameTypeVisa" onchange="emptyCheckBox(id)" name="myData.same_type_visa" ></p>
    
    <p><label for="sameCountry">Подаете ли вы заявление в той же стране или местоположении,
            где была выдана вышеуказанная виза, и является ли эта страна или местоположение
            вашим основным местом жительства?</label>
        <input type="checkbox" id="sameCountry" onchange="emptyCheckBox(id)" name="myData.same_country"  ></p>
    
    <p><label for="fingersPrints">Вы сдавали отпечатки пальцев?</label>
        <input type="checkbox" id="fingersPrints" onchange="emptyCheckBox(id)" name="myData.fingers_prints" ></p>
    
    <p><label for="cardLoss">Виза была потеряна или украдена?</label>
        <input type="checkbox" id="cardLoss" onchange="emptyCheckBox(id)" name="myData.loss_visa" ></p>
    
    
    <p><label for="cancellationVisa">Виза была аннулирована?</label>
        <input type="checkbox" id="cancellationVisa" onchange="emptyCheckBox(id)" name="myData.cancelled_visa" ></p>
    
    <div id = "checkGroup">
        <p><label for="visaRefusal">Отказывали ли вам в визе США или во въезде в страну?</label>
            <input type="checkbox" id="visaRefusal" name="myData.rejection_visa"  onchange="showBlock(reasonOfRefusalVisa,id)"></p>
    
    
        <p><div id="reasonOfRefusalVisa"style="display: none">
            <label for="reasonOfRefusal">Напишите в свободной форме, почему вам отказали в визе:</label>
            <p><input type="text" id="rejection_reason" name="myData.rejection_reason"></p>
        </div></p>
    </div>
    
    
    <p><label for="immigrationAttempt">Была ли когда-либо от вашего имени послана петиция в иммиграционный отдел (пытались ли вы иммигрировать)?<br/>(ответ да - если вы выиграли Грин кард и заполняли заявление, или если у вас была виза и вы подавали документы в США, чтобы легализоваться)  </label>
        <input type="checkbox" id="immigrationAttempt" onchange="emptyCheckBox(id)" name="myData.greencard" ></p>
    
</div>
<H2>Контактная информация</H2>

<h3>Домашний адрес (прописка)</h3>
<div style="display: flex;flex-wrap: wrap">
    <div style="margin-right: 50px">
        <h4>Адрес прописки</h4>
        <label for="homeStreet">Улица, дом, квартира:</label>
        <p><input type="text" id="homeStreet" name="myData.address.street"></p>

        <label for="homeCity">Город</label>
        <p><input type="text" id="homeCity" name="myData.address.city"></p>

        <label for="homeRegion">Регион</label>
        <p><input type="text" id="homeRegion" name="myData.address.region"></p>

        <label for="homeIndex">Индекс</label>
        <p><input type="text" id="homeIndex" name="myData.address.index"></p>

        <label for="homeCountry">Страна</label>
        <p><input type="text" id="homeCountry" name="myData.address.country"></p>
    </div>
    <div id="realAdress" style="display: none">
        <h4>Адрес проживания</h4>
        <label for="realStreet">Улица, дом, квартира:</label>
        <p><input type="text" id="realStreet" name="myData.real_address.street"></p>
           
        <label for="realCity">Город</label>
        <p><input type="text" id="realCity" name="myData.real_address.city"></p>
           
        <label for="realRegion">Регион</label>
        <p><input type="text" id="realRegion" name="myData.real_address.region"></p>
           
        <label for="realIndex">Индекс</label>
        <p><input type="text" id="realIndex" name="myData.real_address.index"></p>
           
        <label for="realCountry">Страна</label>
        <p><input type="text" id="realCountry" name="myData.real_address.country"></p>
            
    </div>
</div>
<div id = "checkGroup">
    <p><label for="addressMatch">Почтовый адрес совпадает с адресом проживания?</label>
        <input type="checkbox" id="addressMatch" name="addressMatch" checked="true" onchange="unShowBlock(realAdress,id)"></p>
    
    
</div>

<div style="display: flex;flex-wrap: wrap">
    <div style="margin-right: 20px"><label for="contactNumber">Контактный телефон (сотовый):</label>
        <p><input type="text" id="contactNumber" name="myData.personal_number"></p></div>

    <div style="margin-right: 20px"><label for="additionalNumber">Дополнительный телефон (по желанию)</label>
        <p><input type="text" id="additionalNumber" name="myData.additive_number"></p></div>

    <div style="margin-right: 20px"><label for="jobNumber">Рабочий телефон (по желанию)</label>
        <p><input type="text" id="jobNumber" name="myData.job_number"></p></div>
</div>
<div id = "checkGroupAdd">
    <p><label for="otherNumbers">Вы использовали какие-нибудь другие номера за последние пять лет?</label>
        <input type="checkbox" id="checkOtherNumbers" name="checkOtherNumbers" onchange="showBlock(otherNumberBlock,id)"></p>
    
    <div id="otherNumberBlock"style="display: none">
        <div id="containerOther" style="display: flex;flex-wrap: wrap">
            <div  style="margin-right: 10px;margin-bottom: 10px">
                <input type="text" name="myData.numbers_of_fives_years" id="otherNumberField" required>
                <button type="button" id="addNumber" onclick="addField('otherNumberField','containerOther')">+</button>
            </div>
        </div>
    </div>
    
</div>

<label for="email">Email адрес:</label>
<p><input type="text" id="email" name="myData.email"></p>

<div id = "checkGroupAdd">
    <p><label for="otherEmails">Вы использовали какие-нибудь другие Email адреса за последние пять лет?</label>
        <input type="checkbox" id="checkEmail" name="checkEmail" onchange="showBlock(otherEmailBlock,id)"></p>
    
    <div id="otherEmailBlock"style="display: none">
        <label for="otherEmail">Укажите их</label><br/>
        <div id="newotherEmailBlock" style="display: flex;flex-wrap: wrap">
            <div  style="margin-right: 10px;margin-bottom: 10px">
                <input type="text" id="otherEmail" name="myData.email_adresses">
                <button type="button" id="addEmail" onclick="addField('otherEmail','newotherEmailBlock')">+</button>
            </div>
        </div>
    </div>
</div>

<p><div>
    <label for="accounts">Укажите ссылки на ваши аккаунты во всех социальных сетях, где вы зарегистрированы:</label>
    <div id="accountBlock" style="display: flex;flex-wrap: wrap">
        <div style="margin-right: 10px;margin-bottom: 10px">
            <input type="text" id="accounts" name="myData.accounts">
            <button type="button" id="addAccount" onclick="addField('accounts','accountBlock')">+</button>
        </div>
    </div>
    
</div></p>

<div style="display: flex" id="checkGroup">
    <input style="margin-right:10px " type="checkbox" id="checkOtherInfo" name="checkOtherInfo" onchange="showBlock(otherSocialBlock,id)">
    <label for="otherInfo">Хотите ли вы предоставить дополнительную информацию, где вы зарегистрированы,
        где присутствует ваши данные, фото, видео и любой другой контент, который вы создавали?</label>
</div>
<div id="otherSocialBlock"style="display: none">
    <div id="containerOfLinks"style="display: flex;flex-wrap: wrap">
        <div id="containerOtherSocial" style="margin-right: 10px">
            <label for="linkSocial">Ссылка на социальную сеть:</label>
            <p><input type="text" id="linkSocial" name="myData.public_links[0].linl_soc_web"></p>
            <label for="otherAccount">Ссылка на аккаунт:</label>
            <br/><input type="text" id="otherAccount" name="myData.public_links[0].link_to_account">
            <button style="margin-left: 5px" type="button" id="addOtherSocial" onclick="cloneElement('containerOtherSocial','containerOfLinks')">+</button>
        </div>
    </div>
</div>



<H2>Информация о паспорте</H2>

<div style="display: flex;flex-wrap: wrap">
    <div style="margin-right: 10px">
        <label>Тип вашего паспорта:</label><br/>
        <select name="myData.passport.passport_type">
            <option value="0">обычный</option>
            <option value="1">официальный</option>
            <option value="2">дипломатический</option>
        </select>
    </div>

    <div style="margin-right: 10px">
        <label for="passportNumber">Серия и номер слитно</label><br/>
        <input type="text" id="passportNumber" name="myData.passport.number">
    </div>
</div>

<div style="display: flex;flex-wrap: wrap">
    <div style="margin-right: 10px">
        <label for="passportCountry">Страна выдачи паспорта:</label>
        <p><input type="text" id="passportCountry" name="myData.passport.country"></p>
    </div>

    <div style="margin-right: 10px">
        <label for="passportRegion">Регион выдачи паспорта:</label>
        <p><input type="text" id="passportRegion" name="myData.passport.region"></p>
    </div>

    <div style="margin-right: 10px">
        <label for="passportCity">Город выдачи паспорта:</label>
        <p><input type="text" id="passportCity" name="myData.passport.city"></p>
    </div>
</div>

<div style="display: flex;flex-wrap: wrap">
    <div style="margin-right: 10px">
        <label for="passportStartDate">Дата выдачи паспорта:</label>
        <p><input type="date" id="passportStartDate" name="myData.passport.issuedate"></p>
    </div>

    <div style="margin-right: 10px">
        <label for="passportEndDate">Дата окончания действия паспорта:</label>
        <p><input type="date" id="passportEndDate" name="myData.passport.endDate"></p>
    </div>
</div>

<div style="margin-right: 10px">
    <p><label for="passportLoss">Теряли ли вы паспорт или крали у вас паспорт ранее?</label>
        <input type="checkbox" id="passportLoss" onchange="emptyCheckBox(id)" name="myData.passport.isLoss"></p>
</div>

<H2>Информация о приглашающей стороне</H2>

<div id = "checkGroup">
    <p><label for="invite">Вы летите по приглашению человека?</label>
        <input type="checkbox" id="checkInvite" name="myData.inviter.have_invite" onchange="showBlock(inviter,id)"></p>
    
    <p><div id="inviter"style="display: none">
        <div style="display: flex;flex-wrap: wrap">
            <div style="margin-right: 50px"><label for="inviterSurname">Его фамилия:</label><br/>
                <input type="text" id="inviterSurname" name="myData.inviter.name"></div>

            <div><label for="inviterName">Его имя:</label><br/>
                <input type="text" id="inviterName" name="myData.inviter.surname"></div>
        </div>
    </div></p>
</div>
<div style="display: flex;flex-wrap: wrap">
    <div style="margin-right: 50px"><label for="receivingCompany">Название принимающей организации<br/> или отеля: (ответ обязателен)</label><br/>
        <input style="width: 100% " type="text" id="receivingCompany" name="myData.inviter.country"></div>

    <div>
        <label>Отношение к вам<br/>(Если это отель - вариант "другие"): </label><br/>
            <select style="width: 100% " name="myData.inviter.relationship">
                <option value=0>родственник</option>
                <option value=1>супруг</option>
                <option value=2>друг</option>
                <option value=3>деловой партнер</option>
                <option value=4>работодатель</option>
                <option value=5>обучение</option>
                <option value=6>другое</option>
            </select>
        
        </div>
</div>
<h3>Адрес отеля или организации:</h3>

<label for="hotelStreet">Номер дома и улица:</label>
<p><input type="text" id="hotelStreet" name="myData.inviter.address.street"></p>

<label for="hotelCity">Город</label>
<p><input type="text" id="hotelCity" name="myData.inviter.address.city"></p>

<label for="hotelState">Штат:</label>
<p><input type="text" id="hotelState" name="myData.inviter.address.region"></p>

<label for="hotelIndex">Индекс:</label>
<p><input type="text" id="hotelIndex" name="myData.inviter.address.index"></p>

<label for="hotelNumber">Номер телефона:</label>
<p><input type="text" id="hotelNumber" name="myData.inviter.number"></p>

<label for="hotelEmail">Email-адрес, если известен</label>
<p><input type="text" id="hotelEmail" name="myData.inviter.email"></p>

<H2>Информация о членах семьи</H2>

<h3>Указываем данные родителей, даже если уже кого-то нет живых. 
    Если вы не знакомы с родителем - напишите это в строке фамилия</h3>

<label for="fatherSurname">Фамилия отца:</label>
<p><input type="text" id="fatherSurname" name="myData.father.surname"></p>

<label for="fatherName">Имя отца:</label>
<p><input type="text" id="fatherName" name="myData.father.name"></p>

<label for="fatherBirthDate">Дата рождения отца:</label>
<p><input type="date" id="fatherBirthDate" name="myData.father.birth_date"></p>

<div id = "checkGroupSelect">
    <p><label for="fahterIsCitizenUSA">Является ли ваш отец гражданином США или находится там?</label>
        <input type="checkbox" id="fahterIsCitizenUSA" name="myData.father.is_sitizen_usa" onchange="showBlock(fatherSitizenUSA,id)"></p>
    <div id ='fatherSitizenUSA' style="display: none">
        <select name="myData.father.usa_status">
            <option value=0>Гражданин США</option>
            <option value=1>Имеет вид на жительство</option>
            <option value=2>неиммиграционный статус</option>
            <option value=3>другое</option>
        </select>
    </div>
    
</div>    

<label for="motherSurname">Фамилия матери:</label>
<p><input type="text" id="motherSurname" name="myData.mother.surname"></p>

<label for="motherName">Имя матери:</label>
<p><input type="text" id="motherName" name="myData.mother.name"></p>

<label for="motherBirthDate">Дата рождения матери:</label>
<p><input type="date" id="motherBirthDate" name="myData.mother.birth_date"></p>

<div id = "checkGroupSelect">
    <p><label for="motherIsSitizenUSA">Является ли ваша мать гражданином США или находится там?</label>
        <input type="checkbox" id="motherIsSitizenUSA" name="myData.mother.is_sitizen_usa" onchange="showBlock(motherSitizenUSA,id)"></p>
    
    <div id ='motherSitizenUSA' style="display: none">
        <select name="myData.mother.usa_status">
            <option value=0>Гражданин США</option>
            <option value=1>Имеет вид на жительство</option>
            <option value=2>неиммиграционный статус</option>
            <option value=3>другое</option>
        </select>
    </div>
    
</div>    

<H2>Супруг</H2>

<label for="spouseSurname">Фамилия супруга:</label>
<p><input type="text" id="spouseSurname" name="myData.spouse.surname"></p>

<label for="spouseName">Имя супруги:</label>
<p><input type="text" id="spouseName" name="myData.spouse.name"></p>

<label for="spouseBirthDate">Дата рождения:</label>
<p><input type="date" id="spouseBirthDate" name="myData.spouse.birth_date"></p>

<label for="spouseNation">Страна рождения (национальность): </label>
<p><input type="text" id="spouseNation" name="myData.spouse.birth_country"></p>

<label for="spouseBirthCity">Город рождения:</label>
<p><input type="text" id="spouseBirthCity" name="myData.spouse.birht_city"></p>

<label>Адрес супруга:
    <select name="myData.spouse.address">
        <option value=0>другое</option>
        <option value=1>неизвестен</option>
        <option value=2>как адрес кортакта в США</option>
        <option value=3>как ваш почтовый</option>
        <option value=4>как ваш домашний</option>
    </select>
</label>

<H2>Информация о работе и учебе</H2>
<div id="jobBlock" style="display: flex;flex-wrap: wrap">
    <div id="job" style="margin-right: 50px">
        <label>Сфера деятельности(выберите вариант):</label><br/>
            <select name="myData.job[0].kind_of_activity">
                <option value="0">другое</option>
                <option value="1">студент</option>
                <option value="2">социальная сфера</option>
                <option value="3">пенсионер</option>
                <option value="4">научный сотрудник</option>
                <option value="5">религиозная дейтельность</option>
                <option value="6">спорт</option>
                <option value="7">безработный</option>
                <option value="8">естественные науки</option>
                <option value="9">воинская служба</option>
                <option value="10">здравоохранение</option>
                <option value="11">юрист</option>
                <option value="12">работа на дому</option>
                <option value="13">госслужба</option>
                <option value="14">инженерия</option>
                <option value="15">образование</option>
                <option value="16">сфера общепита</option>
                <option value="17">IT сфера</option>
                <option value="18">коммуникации</option>
                <option value="19">бизнес</option>
                <option value="20">какой-то другой исполнитель</option>
                <option value="21">артист</option>
                <option value="22">сельское хозяйство</option>
            </select><br/>
        
    
        <label for="organisationName">Название организации:</label><br/>
        <input type="text" id="organisationName" name="myData.job[0].company_name"><br/>

        <h3>Адрес:</h3>

        <label for="organisationStreet">Улица, дом, строение и тд:</label><br/>
        <input type="text" id="organizationStreet" name="myData.job[0].address.street"><br/>

        <label for="organisationCity">Город:</label><br/>
        <input type="text" id="organizationCity" name="myData.job[0].address.city"><br/>

        <label for="organisationRegion">Регион:</label><br/>
        <input type="text" id="organizationRegion" name="myData.job[0].address.region"><br/>

        <label for="organisationIndex">Индекс:</label><br/>
        <input type="text" id="organizationIndex" name="myData.job[0].address.index"><br/>

        <label for="organisationCountry">Страна:</label><br/>
        <input type="text" id="visaNumber" name="myData.job[0].address.country"><br/>

        <label for="organisationNumber">Рабочий телефон:</label><br/>
        <input type="text" id="organisationNumber" name="myData.job[0].job_number"><br/>

        <label for="jobStartDate">Дата начала работы:</label><br/>
        <input type="date" id="jobStartDate" name="myData.job[0].start_date"><br/>

        <label for="jobIncome">Ежемесячный доход в местной валюте:</label><br/>
        <input type="text" id="jobIncome" name="myData.job[0].wages"><br/>

        <label for="jobPost">Занимаемая должность (в свободной форме):</label><br/>
        <input type="text" id="jobPost" name="myData.job[0].spec"/>
        <button type="button" id="addJob" onclick="cloneElement('job','jobBlock')">+</button>
    </div>
</div>
    <p>Добавьте места работы за последние 5 лет (где работали за 5 лет и уже уволились), если они есть</p>

<div id="study">
    
    <p><label for="haveEdication">Получали ли вы образование выше среднего (выше 9 классов)?</label>
        <input type="checkbox" id="haveEdication" name="haveEdication" onchange="showBlock(studyEdicationShow,id)"></p>
    
    <div id="studyEdicationShow" style="display: none">
        <div id="stubyBlock" style="display: flex;flex-wrap: wrap">
        <div id="studyEdication" style="margin-right: 50px">
            <label for="study_name">Название организации:</label><br/>
            <input type="text" id="study_name" name="myData.study[0].company_name"><br/>

            <label for="study_street">Улица, дом, строение:</label><br/>
            <input type="text" id="study_street" name="myData.study[0].address.street"><br/>

            <label for="study_city">Город:</label><br/>
            <input type="text" id="study_city" name="myData.study[0].address.city"><br/>

            <label for="study_region">Регион:</label><br/>
            <input type="text" id="study_region" name="myData.study[0].address.region"><br/>

            <label for="study_index">Индекс:</label><br/>
            <input type="text" id="study_index" name="myData.study[0].address.index"><br/>

            <label for="study_country">Страна:</label><br/>
            <input type="text" id="study_country" name="myData.study[0].address.country"><br/>

            <label for="study_spec">Направление или специальность:</label><br/>
            <input type="text" id="study_spec" name="myData.study[0].spec"><br/>

            <label for="study_start_date">Дата начала учебы:</label><br/>
            <input type="date" id="study_start_date" name="myData.study[0].start_date"><br/>

            <label for="study_end_date">Дата окончания учебы:</label><br/>
            <input type="date" id="study_end_date" name="myData.study[0].end_date">
            <button type="button" id="addStudy" onclick="cloneElement('studyEdication','stubyBlock')">+</button>
        </div>
      </div>
    </div>
    
    
</div>

<H2>Дополнительная информация о подготовке</H2>

<label for="haveLanguage">Какими языками вы владеете:</label><br/>
<div style="display: flex;flex-wrap: wrap" id="languageBlock">
    <input style="margin-right: 3px" type="text" id="haveLanguage" name="myData.additive_info.languages">
    <button style="margin-right: 3px" type="button" id="addLanguage" onclick="addField('haveLanguage','languageBlock')">+</button><br/>
</div>
<label for="reasonOfRefusal">Перечислите все страны, которые вы посещали за последние пять лет:</label><br/>
<div style="display: flex;flex-wrap: wrap" id="coutrysBlock">
    <input style="margin-right: 3px"type="text" id="reasonOfRefusal" name="myData.additive_info.countrys">
    <button style="margin-right: 3px" type="button" id="add_person" onclick="addField('reasonOfRefusal','coutrysBlock')">+</button><br/>
</div>

<label for="reasonOfRefusal">Принадлежали ли вы к какой-либо профессиональной, социальной или благотворительной организации,
    вносили ли в нее свой вклад или работали в ней? Напишите название</label>
<p><input type="text" id="reasonOfRefusal" name="myData.additive_info.spec_org"></p>

<p><label for="visaRefusal">Есть ли у вас какие-либо специальные навыки или подготовка, такие как огнестрельное оружие,
        взрывчатые вещества, ядерный, биологический или химический опыт?</label>
    <input type="checkbox" id="visaRefusal" onchange="emptyCheckBox(id)" name="myData.additive_info.have_spec_skill"></p>

<div id = "checkGroup">
    <p><label for="army">Служили в армии?</label>
        <input type="checkbox" id="checkArmy" name="myData.additive_info.have_army" onchange="showBlock(army,id)"></p>
    
    <p><div id="army"style="display: none">
        <label for="armyCountry">Страна:</label>
        <p><input type="text" id="armyCountry" name="myData.additive_info.army.country"></p>
        
        <label for="armyDivision">Подразделение:</label>
        <p><input type="text" id="armyDivision" name="myData.additive_info.army.division"></p>
        
        <label for="armyRang">Ранг::</label>
        <p><input type="text" id="armyRang" name="myData.additive_info.army.rang"></p>
    
        <label for="armySpecialty">Специальность:</label>
        <p><input type="text" id="armySpecialty" name="myData.additive_info.army.specialty"></p>
    
        <label for="armyStartDate">Дата начала службы:</label>
        <p><input type="date" id="armyStartDate" name="myData.additive_info.army.start_date"></p>
    
        <label for="armyEndDate">Дата окончания службы:</label>
        <p><input type="date" id="armyEndDate" name="myData.additive_info.army.and_date"></p>
    </div></p>
</div>  

<p><label for="specGroup">Вы когда-либо служили, были членом или были связаны с военизированным подразделением,
        отрядом бдительности, повстанческой группой, партизанской группой или повстанческой организацией?</label>
    <input type="checkbox" id="specGroup" onchange="emptyCheckBox(id)" name="myData.additive_info.have_spec_group"></p>

  <button type="submit">Download</button>
</form>


<script>

    function showBlock(element,checkbox)
    {
        if (document.getElementById(checkbox).checked)
            {
                document.getElementById(checkbox).value=true
                element.style.display = "block"
            }
        else
            {
                document.getElementById(checkbox).value=false;
                element.style.display = "none"
            }
    }
    function unShowBlock(element,checkbox)
        {
            if (!document.getElementById(checkbox).checked)
                {
                    document.getElementById(checkbox).value=false
                    element.style.display = "block"
                }
            else
                {
                    document.getElementById(checkbox).value=true;
                    element.style.display = "none"
                }
        }
    //клонируем контейнер и задаем элементам, у которых в имени есть [число] значение +1
    function cloneElement(source, destination) {
        // клонируем элемент
        var element = document.getElementById(source)
        const clone = element.cloneNode(true);
        const button = clone.querySelector('button');
        clone.removeChild(button)
    
        // создаем кнопку для удаления клонированного контейнера
        const removeButton = document.createElement('button');
        removeButton.type = 'button';
        removeButton.textContent = '-';
        removeButton.classList.add('remove-button');
        clone.appendChild(removeButton);
    
        // изменяем значения атрибута name в клоне
        const inputs = clone.querySelectorAll('input, select');
        inputs.forEach(input => {
            const name = input.getAttribute('name');
            const regex = /(.*)\[(\d+)\](.*)/;
            const matches = name.match(regex);
            if (matches && matches.length === 4) {
                const prefix = matches[1];
                const index = parseInt(matches[2]);
                const suffix = matches[3];
                const newName = `${prefix}[${index + 1}]${suffix}`;
                input.setAttribute('name', newName);
            }
        });
    
        var container = document.getElementById(destination)
    
        // добавляем клонированный элемент в целевой контейнер
        container.appendChild(clone);
    
        // добавляем обработчик события на кнопку для удаления клонированного контейнера
        removeButton.addEventListener('click', () => {
            container.removeChild(clone);
        });
    }


    function emptyCheckBox(id)
    {
        if (document.getElementById(id).checked)
            {
                document.getElementById(id).value=true  
            }
        else
            {
                document.getElementById(id).value=false 
            }
        }
    function start(){
        
    }
    function addField(element, container) {
      const field = document.getElementById(element);
      const clone = field.cloneNode(true);
      clone.style="margin-right: 5px"
    
      const removeButton = document.createElement('button');
      removeButton.type = 'button';
      removeButton.textContent = '-';
      removeButton.classList.add('remove-button');
      removeButton.style="margin-right: 10px"
    
      const containerDiv = document.createElement('div');
      containerDiv.classList.add('clone-container');
      containerDiv.appendChild(clone);
      containerDiv.appendChild(removeButton);
    
      const parent = document.getElementById(container);
      parent.appendChild(containerDiv);
    
      removeButton.addEventListener('click', () => {
        parent.removeChild(containerDiv);
      });
    }
     $(function () {
         $('form').submit(function (event) {
             event.preventDefault();
     
             var formData = new FormData(this);
     
             $.ajax({
                 url: $(this).attr('action'),
                 type: 'POST',
                 data: formData,
                 processData: false,
                 contentType: false,
                 success: function (data) {
                     var blob = new Blob([data], { type: 'application/json' });
                     var url = URL.createObjectURL(blob);
                     var link = document.createElement('a');
                     link.href = url;
                     link.download = 'person.json';
                     link.click();
                 },
                 error: function (xhr, status, error) {
                     alert('Error downloading file: ' + error);
                 }
             });
         });
     });
    function showOneOfUs(id){
        switch (document.getElementById(id).value){
            case "B":
                document.getElementById("visaTypeB").style.display="block";
                break;
        }
    }
     </script>